body {
  background: linear-gradient(45deg, pink, cyan);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Merriweather', serif;
}

.input-area {
  margin: 20% auto;
}

.search-bar {
  margin: 5% 0;
}

#random-btn {
  margin-top: -2%;
  margin-bottom: 4%;
}

img {
  height: 75px;
}
